*.Rproj.user
*.Rproj
*.Rhistory
*.Ruserdata
schema.ini
.Rproj.user
Raw_Data/Portland_tides_byminute.csv
2014communityassemblage.png
2015communityassemblage.png
2023communityassemblage.png
2024_Rasters/alewife.png
2024_Rasters/atlantic cod.png
2024_Rasters/atlantic herring.png
2024_Rasters/atlantic menhaden.png
2024_Rasters/atlantic silverside.png
2024_Rasters/atlantic tomcod.png
2024_Rasters/blueback herring.png
2024_Rasters/bluefish.png
2024_Rasters/crevalle jack.png
2024_Rasters/fallfish.png
2024_Rasters/green crab.png
2024_Rasters/mummichog.png
2024_Rasters/northern pipefish.png
2024_Rasters/permit.png
2024_Rasters/sandlance.png
2024_Rasters/sculpin spp.png
2024_Rasters/shiner spp.png
2024_Rasters/Southern Species.png
2024_Rasters/stickleback spp.png
2024_Rasters/striped bass.png
2024_Rasters/tomcod_temp.png
2024_Rasters/white mullet.png
2024_Rasters/winter flounder.png
2024communityassemblage.png
Anomaly.png
AvgDailyTemp.png
Extent GMRI.png
Extent QBC.png
Mummichog_Size_Comp.png
Raw_Data/Portland_Precip_2025.csv
Rplot.png
Silverside_Size_Comp.png
2024communityassemblage.png
2024communityassemblage.png
GIS/Mill_Brook.shp.KLANKOWICZ-5570.3372.21000.sr.lock
GIS/CBASS_With_Rivers.shp.KLANKOWICZ-5570.40088.21000.sr.lock
